:root {
  --main-bg-color: #0f0f0f;
}

::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

@font-face {
  font-family: "Barlow";
  src: url("/Barlow-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
  font-weight: 200;
  letter-spacing: -0.04em;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a, .logo {
  color: #ffffff;
}

body, html {
  background-size: 10px 10px;
  overscroll-behavior: none;
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100%;
  transition: opacity 1s ease;
}

body:not(.loaded) .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color); /* Loader background color */
  z-index: 10;
  opacity: 1; /* Fully visible */
  transition: opacity 2s ease; /* Smooth fade-out */
}

body:not(.loaded) main {
  opacity: 0;
}

body.loaded main {
  opacity: 1;
  transition: opacity 2s ease;
}

.loader .logo h2 {
  font-size: 3em;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(#b0b0b0, #b0b0b0) left no-repeat rgba(255, 255, 255, 0.05);
  background-size: 0% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fillText 2s forwards ease-in-out;
  white-space: nowrap; /* Prevent text wrapping */
}

@keyframes fillText {
  to {
    background-size: 100% 100%;
  }
}

body:not(.loaded) .logo {
  position: absolute; /* Start as absolute for initial centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease; /* Smooth transition */
}

body.loaded .logo {
  position: fixed; /* Final position is fixed */
  top: 1%;
  left: -2%;
  transform: scale(0.5) translate(0, 0); /* Reset translation while scaling down */
  transition: all 1s ease;
}

@media only screen and (max-width: 600px) {
  body.loaded .logo {
    left: -10%; /* Adjust left position for mobile */
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.header {
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.content {
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.title {
  margin-bottom: 8%;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.hero-container p {
  font-size: clamp(20px, 5vw, 45px);
  padding: 0 5%;
  z-index: 10;
  color: #ffffff;
  text-align: justify;
  mix-blend-mode: difference;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  z-index: 10;
  position: absolute;
  height: 60%;
  visibility: hidden;
}

.image-title {
  position: absolute;
  top: 80%;
  left: 60%;
  z-index: 10;
}

.work-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.work-header .bg-text {
  font-size: 18em;
  width: 250%;
  font-weight: 900;
  position: absolute;
  z-index: -1;
  top: 6.8%;
  left: -3%;
  color: #373737;
  opacity: 0.1;
}

h1, h2 {
  display: block;
  font-weight: 700;
  color: #ffffff;
  mix-blend-mode: difference;
}

h2, h3 {
  color: #b0b0b0;
}

.image-description {
  position: absolute;
  top: 16%;
  left: 25%;
  font-size: 1em;
  z-index: 10;
  color: #ffffff;
  mix-blend-mode: difference;
}

.image-description span {
  color: #b0b0b0;
  font-size: 0.7em;
  display: block;
  mix-blend-mode: difference;
}

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.header-bottom {
  width: 100%;
  position: absolute;
  display: flex;
  align-content: center;
  padding: 0 5%;
  top: 92%;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 2rem;
  font-size: 0.8rem;
}

.arrow {
  width: 0;
  margin-top: -1%;
  height: 30px;
  right: 5%;
  border: 1px solid #ffffff;
  position: absolute;
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}

.arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px;
  border-top: 10px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

@keyframes scroll {
  0% {
    height: 30px;
  }
  30% {
    height: 40px;
  }
  60% {
    height: 30px;
  }
}
@-webkit-keyframes scroll {
  0% {
    height: 30px;
  }
  30% {
    height: 40px;
  }
  60% {
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .loader .logo h2 {
    font-size: 2em;
  }
  .work-header .bg-text {
    font-size: 5em;
    top: 8%;
    left: -3%;
  }
  .header-bottom {
    top: 90%;
  }
  .image-title {
    top: 65%;
    left: 35%;
  }
  h1 { 
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .image-description {
    left: 5%;
    top: 28%
  }
}

.line-link {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: lighter;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  padding-bottom: 10px;
}
.line-link:before,
.line-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  visibility: hidden;
}
.line-link:before {
  background-color: #00ffff;
  z-index: -1;
}
.line-link:after {
  background-color: #ff00ff;
  z-index: -2;
}
.line-link:hover:before {
  visibility: visible;
  -webkit-animation: line-glitchy 0.3s ease 0.3s infinite;
          animation: line-glitchy 0.3s ease 0.3s infinite;
}
.line-link:hover:after {
  visibility: visible;
  animation: line-glitchy 0.3s ease infinite reverse;
}

@-webkit-keyframes line-glitchy {
  0% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  75% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(-1px, 1px);
  }
}
@keyframes line-glitchy {
  0% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  75% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(-1px, 1px);
  }
}
